<!doctype html>
<html lang = 'ja'>
    <head>
        <meta http-quiv='content-type'
        content='text/html; charset=UTF-8'>
        <link type ='text/css' href='./style.css' rel ='stylesheet'>
       
    </head>
    <body>
        
        <div role ='main'>
            <p>index page</p>
            <p><a href='/index'>hello</a></p>
            <p><%= content %></p>
            <p><%= title %></p>
        </div>
    </body>
</html>