<html>
    <head>
    </head>
    <body>
        <form action="do_login">
            <label>ID:</label><input type="text" name="id" /><br />
            <label>PASSWORD:</label><input type="text" name="password" /><br />
            <input type="submit" />
        </form>
    </body>
</html>